In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

In [2]:
url="https://www.naukri.com/data-science-jobs?k=data%20science"

In [3]:
browser=webdriver.Firefox()

In [4]:
browser.get(url)

In [5]:
html=browser.page_source

In [6]:
soup=BeautifulSoup(html,'html.parser')

In [8]:
soup.select("a.title.fw500.ellipsis")[0].text

'PMO -data Science/ Analyst- Pune- DBOI'

In [9]:
titles=[i.text for i in soup.select("a.title.fw500.ellipsis")]

In [14]:
soup.select("div.mt-7.companyInfo.subheading.lh16")[0].a.text

'DBOI Global Services Pvt. Ltd.'

In [15]:
company=[i.text for i in soup.select("div.mt-7.companyInfo.subheading.lh16")]

In [17]:
len(company)

20

In [21]:
browser.find_elements_by_css_selector("div.mt-7.companyInfo.subheading.lh16")[0].find_elements_by_tag_name("a")[0].text

'DBOI Global Services Pvt. Ltd.'

In [27]:
soup.find_all("ul",class_="mt-7")[0].find_all("li")[0].text

'10-20 Yrs'

In [28]:
soup.find_all("ul",class_="mt-7")[0].find_all("li")[1].text

'Not disclosed'

In [29]:
soup.find_all("ul",class_="mt-7")[0].find_all("li")[2].text

'Pune'

In [32]:
def get_table(soup):
    titles=[i.text for i in soup.select("a.title.fw500.ellipsis")]
    company=[i.text for i in soup.select("div.mt-7.companyInfo.subheading.lh16")]
    exp=[]
    sal=[]
    loc=[]
    for i in soup.find_all("ul",class_="mt-7"):
        lis=i.find_all("li")
        exp.append(lis[0].text)
        sal.append(lis[1].text)
        loc.append(lis[2].text)
    table=pd.DataFrame({'title':titles,'company':company,'exp':exp,'sal':sal,'loc':loc})
    return table

In [33]:
get_table(soup)

,title,company,exp,sal,loc
0,PMO -data Science/ Analyst- Pune- DBOI,DBOI Global Services Pvt. Ltd.3.6(83 Reviews),10-20 Yrs,Not disclosed,Pune
1,Job Opportunity For Data Science ( 6 To 12 Yea...,Edgeverve Systems Limited,6-8 Yrs,"7,00,000 - 17,00,000 PA.",Bengaluru
2,Executive - Data Science,The Nielsen Company3.8(361 Reviews),3-7 Yrs,Not disclosed,Vadodara
3,Data Analyst - Advanced Analytics / Data Science,Reliance Industries Ltd4.2(4581 Reviews),3-8 Yrs,Not disclosed,Mumbai
4,Data Science Engineer,eHelium Advisory Services Pvt Ltd4.0(4 Reviews),3-8 Yrs,Not disclosed,Chennai
5,Data Science Manager - Technology Development,Micron Semiconductor Asia Pte Ltd5.0(2 Reviews),10-12 Yrs,Not disclosed,Hyderabad
6,Data Science Engineer,Stanley Black Decker India Ltd.,7-9 Yrs,Not disclosed,Bengaluru
7,Software Engineering Specialist - Data Science,BT e-Serv (India) Pvt. Ltd.3.9(52 Reviews),3-6 Yrs,Not disclosed,Bengaluru
8,Design Engineer Specialist - Data Science,BT e-Serv (India) Pvt. Ltd.3.9(52 Reviews),2-5 Yrs,Not disclosed,Bengaluru
9,Data Science/ Scientist - Python/ Deep Learning,New Era India3.5(27 Reviews),7-12 Yrs,Not disclosed,Bengaluru
10,Software Development Engineer - Data Science,SUN Mobility3.7(3 Reviews),5-9 Yrs,Not disclosed,Bengaluru
11,Manager Data Science,Reliance Jio Infocomm Limited4.0(7861 Reviews),8-11 Yrs,Not disclosed,Bengaluru
12,Data Science Lead,D Cube Analytics,10-12 Yrs,Not disclosed,Bengaluru
13,Sr. Research Analyst (Data Science),Innoplexus Consulting Services Private Limited...,3-6 Yrs,Not disclosed,Pune
14,Specialist - Data Science,Philips India Limited4.0(431 Reviews),5-10 Yrs,Not disclosed,Bengaluru
15,Business Analyst II- Data Sciences and Advance...,VMware India4.3(184 Reviews),3-5 Yrs,Not disclosed,Bengaluru
16,Risk - CB - Credit Risk (data Science) - Assoc...,JP Morgan Chase4.1(1480 Reviews),0-5 Yrs,Not disclosed,"Bengaluru, Bangalore East"
17,Senior Data Science Engineer - Machine Learnin...,PayMe India4.5(2 Reviews),4-9 Yrs,Not disclosed,Noida
18,KGS - Consulting - Data Science Manager,KPMG3.7(1132 Reviews),2-12 Yrs,Not disclosed,Bengaluru
19,Data Science (jupyter/azure Ml/matlab),Accenture Solutions Pvt Ltd4.0(14064 Reviews),2-5 Yrs,Not disclosed,Mumbai

In [34]:
##https://www.naukri.com/data-science-jobs-2?k=data%20science
##https://www.naukri.com/data-science-jobs-3?k=data%20science
stub="https://www.naukri.com/data-science-jobs-{}?k=data%20science"

In [35]:
stub.format(1)

'https://www.naukri.com/data-science-jobs-1?k=data%20science'

In [37]:
import time
Tables=[]
for i in range(1,3):
    url=stub.format(i)
    browser.get(url)
    time.sleep(0.5)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    Tables.append(get_table(soup))

In [38]:
pd.concat(Tables,axis=0)

,title,company,exp,sal,loc
0,Data Scientist - KPO,Antrors HR Solutions,2-5 Yrs,Not disclosed,Bengaluru
1,Data Scientist - Python/ SQL,Catalyst,2-7 Yrs,Not disclosed,Bengaluru
2,Data Scientist - BFSI,Talhive,2-6 Yrs,Not disclosed,Bengaluru
3,Machine Learning Engineer,IBM India Pvt. Limited4.0(8176 Reviews),2-5 Yrs,Not disclosed,Bengaluru
4,Engineer - Data Scientist/ Machine Learning - ...,Connexions3.8(6 Reviews),2-6 Yrs,Not disclosed,Bengaluru
5,Data Scientist - Machine & Deep Learning,Connexions3.8(6 Reviews),2-6 Yrs,Not disclosed,Bengaluru
6,Data Scientist - Machine & Deep Learning,Connexions3.8(6 Reviews),2-7 Yrs,Not disclosed,Bengaluru
7,Data Scientist - Analytics - BFS,Huquo Consulting Pvt. Ltd,2-7 Yrs,Not disclosed,"Mumbai, Bengaluru"
8,Data Scientist - Python/r,Catalyst,2-6 Yrs,Not disclosed,Bengaluru
9,Data Scientist - Insurance,Recrutist.com,2-5 Yrs,Not disclosed,Bengaluru
10,Lead Data Scientist,Catalyst,2-4 Yrs,Not disclosed,Bengaluru
11,Lead Data Scientist,Catalyst,2-2 Yrs,Not disclosed,Bengaluru
12,Lead Data Scientist,Bion,2-7 Yrs,Not disclosed,Bengaluru
13,Machine Learning Engineer,IBM India Pvt. Limited4.0(8176 Reviews),2-5 Yrs,Not disclosed,Bengaluru
14,Data Science/ Scientist - Python/ Deep Learning,New Era India3.5(27 Reviews),7-12 Yrs,Not disclosed,Bengaluru
15,Data Scientist/ Senior Data Scientist - CPG Do...,NovoTree Minds Consulting Pvt. Ltd.,4-8 Yrs,Not disclosed,Bengaluru
16,Data Scientist,Capgemini Technology Services India Limited,8-11 Yrs,Not disclosed,Bengaluru
17,Data Scientist - Machine Learning & R - BFS - ...,hCapital Executive Search,1-4 Yrs,Not disclosed,Mumbai
18,Data Scientist - Machine Learning & R - BFSI -...,hCapital Executive Search,1-4 Yrs,Not disclosed,Mumbai
19,Data Scientist,Capgemini Technology Services India Limited,2-7 Yrs,Not disclosed,Gurgaon
0,Data Scientist,Applied Materials India Private Limited4.0(71 ...,2-4 Yrs,Not disclosed,Bengaluru
1,Data Scientist - KPO,Confidential,2-6 Yrs,Not disclosed,Bengaluru
2,Sr Consultant/ Consultant/ Assistant Mgr/ Mgr ...,Huquo Consulting Pvt. Ltd,2-5 Yrs,Not disclosed,Bengaluru
3,Data Scientist,Bion,2-7 Yrs,Not disclosed,Bengaluru
4,Data Scientist,TechKnowledgey Pte Ltd,2-5 Yrs,"19,00,000 - 27,50,000 PA.",Bengaluru
5,Data Scientist,"NUMERIFY, INC.",2-7 Yrs,Not disclosed,Bengaluru
6,Associate Data Scientist,Value C Consulting Services Private Limited,0-5 Yrs,"6,00,000 - 14,00,000 PA.","Pune, Bengaluru, Hyderabad"
7,Data Scientist - Machine Learning - Ecommerce/...,BuzzHire,3-8 Yrs,Not disclosed,"Delhi NCR, Bengaluru"
8,Data Scientist - Advanced Analytics,IBM India Pvt. Limited4.0(8176 Reviews),6-8 Yrs,Not disclosed,Bengaluru
9,Data Scientist: Advanced Analytics,IBM India Pvt. Limited4.0(8176 Reviews),6-8 Yrs,Not disclosed,Bengaluru
10,Data Scientist,Brillio Technologies Pvt. Ltd,3-5 Yrs,Not disclosed,Bengaluru
11,Senior Data & Applied Scientist,Microsoft India (R and D) Pvt Ltd4.2(345 Reviews),4-9 Yrs,Not disclosed,Bengaluru
12,Head - Data Scientist - Machine Learning,eHireo,8-10 Yrs,Not disclosed,Bengaluru
13,Lead Data Scientist,Capgemini Technology Services India Limited,10-15 Yrs,Not disclosed,Bengaluru
14,Data Scientist- C2,Capgemini Technology Services India Limited,9-12 Yrs,Not disclosed,Bengaluru
15,Sr.manager Data Scientist,Capgemini Technology Services India Limited,9-13 Yrs,Not disclosed,Bengaluru
16,Senior Data Scientist,ZS Associates India Pvt Ltd3.6(232 Reviews),5-7 Yrs,Not disclosed,"Delhi NCR, Bengaluru"
17,Data Scientist /analytics Engineer - Machine L...,Blackcoffer5.0(3 Reviews),1-3 Yrs,Not disclosed,"Delhi NCR, Delhi"
18,Data Scientist - KPO,Huquo Consulting Pvt. Ltd,2-4 Yrs,Not disclosed,Gurgaon
19,Senior Associate Data Scientist,Medline Industries India Private Limited3.5(24...,2-4 Yrs,Not disclosed,Pune

In [39]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents"

In [40]:
browser.get(url)

In [41]:
html=browser.page_source

In [42]:
soup=BeautifulSoup(html,'html.parser')

In [44]:
len(soup.select("table.wikitable.sortable.jquery-tablesorter"))

3

In [45]:
tables=soup.select("table.wikitable.sortable.jquery-tablesorter")

In [46]:
tables[0]

<table class="wikitable sortable jquery-tablesorter">
<thead><tr>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Date
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Type
</th>
<th class="headerSort" data-sort-type="number" role="columnheader button" tabindex="0" title="Sort ascending">Dead
</th>
<th class="headerSort" data-sort-type="number" role="columnheader button" tabindex="0" title="Sort ascending">Injured
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Location
</th>
<th class="unsortable">Details
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Perpetrator
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Part of<br/>
</th></tr></thead><tbody>
<tr>
<td>5 November 1605
</td>
<td>Attempted bombing
</td>
<td>0
</td>
<td>0
</td>
<td><span class="flagicon"><img alt="" class="thumbborder" data-file-height="480" data-file-width="800" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/23px-Flag_of_England.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/35px-Flag_of_England.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/46px-Flag_of_England.svg.png 2x" width="23"/> </span><a href="/wiki/England" title="England">England</a>
</td>
<td><a href="/wiki/Gunpowder_Plot" title="Gunpowder Plot">Gunpowder Plot</a>: A group of <a href="/wiki/Catholic_Church_in_England_and_Wales" title="Catholic Church in England and Wales">English Catholics</a> led by <a href="/wiki/Robert_Catesby" title="Robert Catesby">Robert Catesby</a> plotted to bomb the <a href="/wiki/House_of_Lords" title="House of Lords">House of Lords</a> in order to kill <a href="/wiki/James_VI_and_I" title="James VI and I">King James I</a>, with the goal of installing his nine-year-old daughter <a href="/wiki/Elizabeth_Stuart,_Queen_of_Bohemia" title="Elizabeth Stuart, Queen of Bohemia">Princess Elizabeth</a> as the Catholic head of state.  The explosives beneath the House of Lords were discovered a day before their planned detonation, and the conspirators were either killed in a battle at <a href="/wiki/Holbeche_House" title="Holbeche House">Holbeche House</a> or executed for treason.
</td>
<td><a href="/wiki/Robert_Catesby" title="Robert Catesby">Robert Catesby</a> and co-conspirators
</td>
<td>
</td></tr></tbody><tfoot></tfoot></table>

In [50]:
headers=[i.text.strip() for i in tables[0].thead.find_all("th")]

In [54]:
[i.text.strip() for i in tables[0].tbody.find_all("tr")[0].find_all("td")]

['5 November 1605',
 'Attempted bombing',
 '0',
 '0',
 'England',
 'Gunpowder Plot: A group of English Catholics led by Robert Catesby plotted to bomb the House of Lords in order to kill King James I, with the goal of installing his nine-year-old daughter Princess Elizabeth as the Catholic head of state.  The explosives beneath the House of Lords were discovered a day before their planned detonation, and the conspirators were either killed in a battle at Holbeche House or executed for treason.',
 'Robert Catesby and co-conspirators',
 '']

In [56]:
data=[]
for row in tables[1].tbody.find_all("tr"):
    data.append([i.text.strip() for i in  row.find_all("td")])

In [59]:
table=pd.DataFrame(data)

In [60]:
table.columns=headers

In [61]:
table

,Date,Type,Dead,Injured,Location,Details,Perpetrator,Part of
0,28 July 1835,Shooting,18,22 (+1),France,Giuseppe Marco Fieschi used a volley gun to at...,Giuseppe Marco Fieschi,
1,14 April 1865,"Assassination, shooting, killing",1,8 (+1),United States,President Abraham Lincoln was assassinated by ...,John Wilkes Booth and co-conspirators,American Civil War
2,1865–1877,Murders,"c. 3,000",Several,United States,"c. 3,000 Freedmen and their Republican Party a...",Ku Klux Klan,Reconstruction Era
3,13 December 1867,Prison escape,12,120,United Kingdom,"The ""Clerkenwell Outrage"": a bomb exploded nex...",Fenian Society,
4,28 December 1870,Attempted Assassination,1,0,Spain,"Attack to General Juan Prim, Prime Minister of...",Political adversaries,
5,1880,Attempted Assassination,0,0,Russia,Attempted assassination of General Mikhail Lor...,Anarchists (suspected),
6,1881,Assassination by Bombing,2,12,"St.Petersburg, Russia",Assassination of Alexander II of Russia.,Narodnaya Volya,
7,1881-5,Bombing,0 (+3),98,United Kingdom,Fenian dynamite campaign.,Irish Republican Brotherhood,
8,1884,Assassination,2,0,Russia,"Assassination of Colonel Soudekine, Chief of P...",Nihilist movement,
9,4 May 1886,Bombing,7 (+4),160+,Chicago,Haymarket Affair. A peaceful rally in Haymarke...,FOTLU,
10,23 July 1892,Assassination attempt,0,1 (+1),Pittsburgh,"Alexander Berkman, a Russian expatriate, attem...",Alexander Berkman,
11,9 December 1893,Bombing,0,20,Paris,French anarchist Auguste Vaillant bombed the F...,Auguste Vaillant,
12,24 June 1894,Assassination,1,0,Lyon,French president Marie François Sadi Carnot is...,Sante Geronimo Caserio,
13,26 August 1896,Hijacking,10+,0,"Constantinople, Ottoman Empire",Occupation of the Ottoman Bank by Armenian sep...,Armenian Revolutionary Federation,
14,8 August 1893,Attempted Assassination,1,0,Spain,"Assassination of Antonio Cánovas del Castillo,...",Anarchists led by the Italian Michele Angiolillo,

In [64]:
def get_html_table(soup_table):
    headers=[i.text.strip() for i in soup_table.thead.find_all("th")]
    data=[]
    for row in soup_table.tbody.find_all("tr"):
        data.append([i.text.strip() for i in  row.find_all("td")])
    table=pd.DataFrame(data)
    table.columns=headers
    return table

In [67]:
get_html_table(tables[2])

,Date,Type,Dead,Injured,Location,Details,Perpetrator,Part of
0,29 July 1900,Assassination,1,0,"Monza, Italy","Gaetano Bresci, an Italian-American Anarchist,...",Gaetano Bresci,
1,15 April 1902,Assassination,1,0,"St.Petersburg, Russia",Minister of the Interior Dmitry Sipyagin was a...,Stepan Balmashov,
2,28 April – 1 May 1903,Bombings,0 (+4),,"Thessaloniki, Ottoman Empire","Members of the Boatmen of Thessaloníki, a Bulg...",Boatmen of Thessaloníki,
3,18 May 1904,Kidnapping,0,2 kidnapped,Morocco,Ion Perdicaris and Cromwell Varley were kidnap...,Mulai Ahmed er Raisuli,
4,15 February 1905,Bombing,2,1+,Russia,Assassination of Grand Duke Serge Alexandrovic...,Ivan Kalyayev,
5,31 May 1906,Bombing,24,Several,Spain,Morral affair. 24 people were killed when terr...,Mateo del Morral,
6,25 August 1906,Bombing,28,Several,"Aptekarsky Island, Russia",28 people were killed when three terrorists bo...,Union of Socialists Revolutionaries Maximalists,
7,11/12 July 1908,Bombing,1,23,"Malmö, Sweden",Night between 11 and 12 July: Bombing of the b...,Anton Nilsson,
8,1 October 1910,Bombing,21,105+,"Los Angeles, United States",Los Angeles Times bombing killed 21 people and...,Lone wolf (terrorism),
9,14 September 1911,Shooting,1,0,"Kiev, Russia","Assassination of Pyotyr Stolypin, Russian Prim...",Dmitri Bogrov,
10,1912-14,Various,1,0,United Kingdom,Protest campaign by militant suffragettes camp...,Women's Social and Political Union,
11,28\nJune 1914,Shooting,2,1,"Sarajevo, Austria-Hungary",Assassination of Archduke Franz Ferdinand heir...,Gavrilo Princip,
12,22 July 1916,Bombing,10,40,"San Francisco, United States",Preparedness Day Bombing was a bombing in San ...,Galleanist Anarchists (suspected),
13,30 July 1916,Bombing,4,Hundreds,"Jersey City, United States",Black Tom explosion was a planned detonation o...,Imperial German Agents,
14,16 September 1920,Bombing,38,300,"New York City, United States",Wall Street bombing killed 38 people and wound...,Galleanist Anarchists (suspected),Red Scare
15,14 October 1920,Bombings,1,10,"Trieste, Italy","In Trieste, nationalists threw six bombs at th...",Italian Nationalists,
16,15 October 1920,Bombings,0,2,"Milan, Italy","In Milan, anarchists were responsible for thro...",Anarchists,
17,8 December 1920,Bombing,3,3,"Bucharest, Romania",A bomb placed by a left-wing terrorist group b...,"Max Goldstein, Leon Lichtblau and Saul Ozias",
18,31 May 1921,Riot,39-300,800+,"Tulsa, United States",The Tulsa race riot killed at least 39 people ...,Ku Klux Klan,
19,13 December 1921,Bombing,100,,"Bolgrad, Romania",The Bolgrad palace bombing occurred when a bom...,Bessarabian separatists,Union of Bessarabia with Romania
20,31 October 1923,Shooting,1,1,"Dublin, Irish Free State",Far-right extremists shot two Jewish men as th...,Far-right extremists,
21,16 April 1925,Bombing,150,~500,"Sofia, Bulgaria",St Nedelya Church assault – The Bulgarian Comm...,Bulgarian Communist Party,

In [68]:
#https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_1971
#https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_1970
#https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_1995

In [69]:
stub="https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_{}"

In [70]:
stub.format(1970)

'https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_1970'

In [98]:
import time
T=[]
for i in range(1970,1980,1):
    url=stub.format(i)
    browser.get(url)
    time.sleep(1)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    tables=soup.select("table.wikitable.sortable.jquery-tablesorter")
    for table in tables:
        t=get_html_table(table)
        t['year']=i
        T.append(t)

In [96]:
len(T)

10

In [99]:
pd.concat(T,axis=0)

,Date,Type,Dead,Injured,Location,Details,Perpetrator,Part of,year
0,January 13,Shotdown,7,0,"Urabá, Colombia",An UH-1 Iroquois helicopter from the Colombian...,EPL,Colombian Conflict,1970
1,February 8,Bombing,0,0,"Belfast, Northern Ireland",A bomb explodes at the home of Ulster Liberal ...,Ulster Volunteer Force,The Troubles,1970
2,February 10,"Shooting, grenade attacks",1,23,"Munich, West Germany",A bus carrying passengers to an El Al airplane...,PDFLP,Israeli–Palestinian conflict,1970
3,February 18,Bombing,0,0,"{County Donegal, Republic of Ireland",A bomb detonated in a TV station that transmit...,Ulster Volunteer Force,The Troubles,1970
4,February 21,Bombing,47,0,Switzerland,A bomb explodes in the rear of Swissair Flight...,PFLP-GC,Israeli–Palestinian conflict,1970
5,March 6,Premature explosion,3,2,"New York City, United States",Three Weather Underground members Theodore Gol...,Weather Underground,,1970
6,March 7,"Bombing,Shooting",0,0,"Belfast, Northern Ireland",A bomb explodes in the house of Nationalist Pa...,Ulster Volunteer Force,The Troubles,1970
7,March 26,Bombing,0,0,"Tallaght, Republic of Ireland",A bomb explodes in a electricity substation in...,Ulster Volunteer Force,The Troubles,1970
8,March 31,Plane hijacking,0,0,"Japan, South Korea, North Korea","Japan Airlines Flight 351, carrying 131 passen...",Japanese Red Army,,1970
9,April,Riot,0,0,"Stanford, California, United States",At Stanford University over a period of severa...,Left-wing student radicals,Terrorism in the United States,1970
10,May,Bombing,0,0,"Fresno, California, United States","In reaction to the U.S. invasion of Cambodia, ...",Left-wing student radicals,Terrorism in the United States,1970
11,May 1,Bombing,0,11,"Bronx, New York",A terrorist group of Puerto Rico detonated two...,Mira,,1970
12,May 22,Ambush,12,25,"Avivim, Israel",Two bazooka shells were fired at a school bus ...,PFLP-GC,Israeli–Palestinian conflict,1970
13,June 1,"Kidnapping, Assassination",1,0,"Timote, Argentina",The former president of Argentina Pedro Eugeni...,Montoneros,Dirty War,1970
14,June 1,"Shooting, Clash",(1+),(2+),"Córdoba, Argentina","The so-called ""Toma de la Calera"" was an opera...",Montoneros,Dirty War,1970
15,June 27,Riots,6,26,"Belfast, Northern Ireland",During a riot in working class parts of Belfas...,Provisional IRA and loyalist paramilitaries,The Troubles,1970
16,July 16,Bombing,0,30,"Belfast, Northern Ireland",A bomb explodes in the northern bank in Belfas...,Provisional IRA,The Troubles,1970
17,July 22,Bombing,6,66,"Gioia Tauro, Italy",A bomb attack caused six deaths and 66 injured...,unknown,,1970
18,July 30,Shooting,1,Unknown,"Garín, Argentina","Assault and take over of a police detachment, ...",FAR,Dirty War,1970
19,31 July–August 10,Assassination,1,0,"Montevideo, Uruguay","Dan Mitrione, Chief Public Safety Adviser for ...",Movimiento de Liberación Nacional-Tupamaros,,1970
20,August 7,Kidnapping,0,1,"Montevideo, Uruguay",Militants of Tupamaros kidnapping the US agron...,Movimiento de Liberación Nacional-Tupamaros,,1970
21,August 11,shooting,1,0,"Santiago, Chile","Militants of the MIR, assassinated to the Cabo...",MIR,Armed resistance in Chile (1973–90),1970
22,12 August,Bombing,2,0,"Crossmaglen, Northern Ireland",Two members of the RUC were killed by a booby ...,Provisional IRA,The Troubles,1970
23,August 24,Bombing,1,3,"Madison, Wisconsin, United States",The Army Mathematics Research Center on the Un...,Anti-Vietnam War protestors,,1970
24,September 1,"Ambush, Shooting",7,0,"Cimitarra, Santander, Colombia",7 soldiers are killed ascribed to the army's R...,FARC,Colombian Conflict,1970
25,September 6,Plane hijacking,1 (perpetrator),1,"Zarqa, Jordan",Coordinated hijacking of four airliners. One h...,PFLP,Black September,1970
26,September 21,Shooting,1,0,Chile,One officer was shot dead when he tried to rep...,MIR,Armed resistance in Chile (1973–90),1970
27,September 29,Bombing,Unknown,1+,"Montevideo, Uruguay","bombing of the Carrasco Bowling Club, gravely ...",Movimiento de Liberación Nacional-Tupamaros,,1970
28,October 5 – October 17,"Kidapping, murder",1,1 (kidnapped),"Quebec, Canada","FLQ murder of Pierre Laporte, kidnapping of Ja...",FLQ,October Crisis,1970
29,October 15,Hijacking,1,3,USSR,Lithuanian father and son Pranas and Algirdas ...,Pranas and Algirdas Brazinskas,,1970
...,...,...,...,...,...,...,...,...,...
11,March 17,Bombing,2,2,"Lemoiz, Spain",ETA planted a bomb in the under-construction L...,ETA,"Basque conflict, Anti-nuclear movement in Spain",1978
12,April 13,Attempted Car Bombing,0,1,"Guipuzcoa, Spain","The dawn of April 13, several individuals trie...",Comandos Autonomos Anticapitalistas,Basque conflict,1978
13,May 20,Shooting,2 (+3),5,"Paris, France",Three terrorists fire on El Al passengers in t...,Palestinians,Israel-Palestine conflict,1978
14,May 24,Assassination,1,0,"Guipúzcoa, Spain",A taxi driver was beaten and shot dead by the ...,Batallon Vasco Espanol,Basque Conflict,1978
15,May 25,Bombing,0,1,"Evanston, Illinois, United States",Police officer Terry Marker is injured by a bo...,Theodore Kaczynski,,1978
16,June 7,Shooting,2,2,"Figtree, Rhodesia",Two British women mission teachers were shot d...,Zimbabwe People's Revolutionary Army (ZIPRA),Rhodesian Bush War,1978
17,June 23,Massacre,12,0,"Vumba Mountains, Rhodesia",Eight British missionaries and four young chil...,,Rhodesian Bush War,1978
18,June 27,Shooting,2,0,"Hartley district, Rhodesia","Two German-born missionaries, Father Gregor Ri...",,Rhodesian Bush War,1978
19,August 13,Bombing,175,80,"Beirut, Lebanon",A bomb destroys an office building in West Bei...,PFLP-GC,Palestinian insurgency in South Lebanon,1978
20,August 14,Shooting,12,0,"Cimitarra, Colombia",FARC members murder 12 peasants in rural Cimit...,FARC,Colombian conflict,1978
21,August 19,Shooting,6,Unknown,"Boyacá, Colombia",FARC guerrillas attack troops from the battali...,FARC,Colombian conflict,1978
22,August 19,Shooting,2,2,"Managua, Nicaragua",Two people who collaborated in the government ...,Sandinists,,1978
23,August 19,Arson,400+,,"Abadan, Iran",A group of four Islamist militants bar the doo...,Four Islamists,Iranian Revolution,1978
24,August 20,"Shooting, grenade attacks",1 (+1),9,"London, United Kingdom",A crew bus of El Al airlines in London was att...,PFLP,Israel-Palestine conflict,1978
25,September 1–6,Bombings,0,2,"Speedway, United States",A series of eight bombings occurs in the town ...,Brett Kimberlin,,1978
26,September 3,Aircraft shootdown,48,8,"Karoi, Rhodesia",Members of ZIPRA shot down Air Rhodesia Flight...,ZIPRA,Rhodesian Bush War,1978
27,October 22,Shooting,3,1,"Getxo, Spain",Four Civil Guards are shot by ETA while return...,ETA,Basque conflict,1978
28,December 31,Theft,0,0,"Bogotá, Colombia",Members of the M-19 enter a tunnel to the nort...,Movimiento 19 Abril,Colombian conflict,1978
0,March 30,"Assassination, bombing",1,0,"London, England",Abingdon MP Airey Neave is killed by a bomb in...,INLA,The Troubles,1979
1,April 22,Massacre,4 (+2),0,"Nahariya, Israel",Nahariya massacre: Four Palestine Liberation F...,Palestine Liberation Front,Israel-Palestine conflict,1979
2,May 1,Bombing,0,0,"Oslo, Norway",A man named Petter Kristian Kyvik threw a bomb...,Petter Kristian Kyvik,,1979
3,May 11,Shooting,5 (+2),5,Colombia,M-19 militants assault the population of Belen...,M-19 and FARC,Colombian conflict,1979
4,June 3,Shooting,4,0,"Santander Department, Colombia",FARC guerrillas kill a councilman and three le...,FARC,Colombian conflict,1979
5,June 20,Hijacking,0,0,"Chicago, United States",Serbian nationalist Nikola Kavaja hijacks Amer...,Nikola Kavaja,,1979
6,July 28,Bombings,7,100+,"Madrid, Spain",ETA-pm carries out a series of coordinated bom...,ETA-pm,Basque conflict,1979
7,August 27,"Bombing, assassination",4,6,"Mullaghmore, Ireland","Louis Mountbatten, 1st Earl Mountbatten of Bur...",PIRA,The Troubles,1979
8,August 27,"Bombings, shooting",19,7,"Warrenpoint, Northern Ireland",The Provisional IRA ambushes a British Army co...,PIRA,The Troubles,1979
9,November 15,Attempted bombing,0,12,United States,A bomb that was planted on American Airlines F...,Unabomber,,1979
10,November 20 – December 4,Hostage-taking,127 (+117),450+,"Mecca, Saudi Arabia",Hundreds of militants from Wahabi group Ikhwan...,Ikhwan,,1979
11,December 28,"Shooting, Raid",0? (+10),Unknown,"Tolima, Colombia",In limits of the municipalities of the Victory...,FARC,Colombian conflict,1979